<!DOCTYPE html>
<html>
	<head>
		<title>Jabibuland</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>
	<body>
		<main>
			<h1>Jabibuland</h1>
			<p>The secrets of Jabibuland are yet to be unveiled...</p>
		</main>
		<!-- <footer>
			<% if(currentUser){ %>
				<%= currentUser.username %> is logged in!
				<a href="/logout">Logout</a>
			<% } else { %>
				<a href="/login">Login</a>
			<% } %>
		</footer> -->
	</body>
</html>
