<%- include('includes/header'); %>		
		<main>
			<h1>Jabibuland</h1>
			<% if(currentUser){ %>
				<p>Welcome, <%= currentUser.username %>.</p>
				<%- include('includes/character', {character: currentUser.character}); %>
			<% } else { %>
				<p>The secrets of Jabibuland are yet to be unveiled...</p>
				<small>Look Madre I'm on the Internet!</small>
			<% } %>
		</main>
		<footer>
			<% if(currentUser){ %>
				<%= currentUser.username %> is logged in!
				<a href="/logout">Logout</a>
			<% } else { %>
				<a href="/login">Login</a>
			<% } %>
		</footer>
	</body>
</html>
