<!DOCTYPE html>
<html>
	<head>
		<title>Register | Jabibuland</title>
		<link rel='stylesheet' href='/stylesheets/style.css'>
	</head>
	<body>
		<main>
			<h1>Register</h1>
			<form action="/register" method="POST">
				<label>Username
					<input type="text" name="username">
				</label>
				<label>Password
					<input type="password" name="password">
				</label>
				<input type="submit">
			</form>
		</main>
	</body>
</html>
