html {
  background: #000;
  color: rgb(240, 235, 209);
}

a {
  color: rgb(226, 224, 86);
}

small {
  font-size: 0.75em;
}

main {
  text-align: center;
}

footer {
  margin-top: 2em;
  text-align: center;
}