/* Variables */

:root {
  --font-color: rgb(240, 235, 209);
}

/* Universal */

html {
  background: #000;
  color: var(--font-color);
}

small {
  font-size: 0.75em;
}

a {
  color: rgb(226, 224, 86);
}

main {
  text-align: center;
}

footer {
  margin-top: 2em;
  text-align: center;
}

/* Infoboxes */

.infobox {
  border: 1px var(--font-color) solid;
  padding: 0.5em;
}

.infobox h1 {
  font-size: 1.3 em;
}